@charset "utf-8";
/* CSS Document */

body {
	background-color: #FFFAF0;
}
#header1 {
	padding: auto;
}
#header2 {
	padding: auto;
}
#bold {
	color: #F00;
}
input {
	font-weight: bold;
}

