#sub {
	font-size: 20px;
}
#Zero {
	color:#F00;
}
#lblP {
	display:contents;
}
#bold {
	color:#F00;
}
#input {
	margin-left: 5px;
	font-weight: bold;
}
#hidden {
	display: none;
}
#resP {
	font-weight: 500;
}
#resTable {
	border-spacing: 10px;
	border: ridge thick #333;
	background-color: rgba(200,200,200,.35);
}

#resTable tr td {
	padding: 10px;
	border: ridge medium #999;
	font-size: 20px;
	font-weight: bold;
}

#resTable tbody tr #resAns {
	font-weight: bold;
	background-color: rgba(24, 24, 224, 0.35);
	border: medium ridge #F00;
}

#backBtnDiv {
	margin-top: 50px;
}

